---
layout: base
---

<header class="dark-header">
    <div class="container h-100">
        <div class="row h-100 align-items-center" style="width">
            <div class="col-12 title">
                <div class="title-wrapper">
                    <img src="assets/img/logo_white.png" alt="Blockparty Logo" class="img-fluid logo">
                    <h1>Blockparty</h1>
                    <h3>Build your community</h3>
                    <button class="btn btn-light" id="get-notified">Get Notified</button>
                </div>
            </div>
        </div>
    </div>
</header>

{% include problem.html %}
{% include solution.html %}
{% include roadmap.html %}
{% include getintouch.html %}
{% include footer.html %}