<h1 class="section-title">The problem</h1>
<section class="problem">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-6"> 
                <h5 >Current community engagement methods are temporary,  fragmented, noisy, and ineffective</h5>
            </div>
    
            <div class="col-md-6">
                <img src="assets/img/methods.png" alt="Social Channels" class="img-fluid social-channels">
            </div>
        </div>
    </div>
</section>

<section class="problem2">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-6 order-md-1"> 
                <div class="metric">
                    <h1 style="font-weight: 500;">$10.7 Million</h1>
                    <h6>Raised on Average by ICOs</h6>
                </div>

                <div class="metric">
                    <h1 style="font-weight: 500;">13.1 People</h1>
                    <h6>Average ICO team size</h6>
                </div>
            </div>
            <div class="col-md-6 order-md-12">
                <h5>ICOs raise massive amounts of money but have small teams tasked with building complex products </h5>
            </div> 
        </div>
    </div>
</section>