<h1 class="section-title">The solution</h1>
<section class="solution">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12"> 
                <h1 style="font-weight: 500;">Token incentivized</h1>
                <h1 style="color: #00C90D; font-weight: 500;">Community focused</h1>
                <h1 style="color: #FF7600; font-weight: 500;">Bounty programs</h1>
            </div>
        </div>
    </div>
</section>

<h1 class="section-title">The Chaingang Platform</h1>
<section class="solution2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <img src="assets/img/platform.png" alt="Chaingang Platform Overview" class="img-fluid">
            </div>
        </div>
    </div>

</section>