---
---
/* Fonts and Colors */
@import url('https://fonts.googleapis.com/css?family=Rokkitt:300|Open+Sans');

h1, h2, h3, h4, h5, h6 {
    margin: 10px;
    font-family: "Open Sans", sans-serif;
}

.full-height {
    height: 100vh;
}


/*
* Header styles 
*/
.dark-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

    height: 100vh;
    text-align: center;

    h1, h2, h3, h4, h5, h6 {
        color: black;
        text-align: center;
        font-family: "Open Sans", sans-serif;
    }

    img {
        display: inline-block;
        margin: 40px;
    }

    .content-container {
        margin: 0px;
    }
}

