---
---
/* Fonts and Colors */
@import url('https://fonts.googleapis.com/css?family=Rokkitt:300|Open+Sans');

h1, h2, h3, h4, h5, h6 {
    margin: 10px;
    font-family: "Open Sans", sans-serif;
}

.full-height {
    height: 100vh;
}


/*
* Header styles 
*/
.dark-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background-image: url("/assets/img/birches.jpg");
    background-size: cover;

    height: 100vh;
    text-align: center;

    h1, h2, h3, h4, h5, h6 {
        color: black;
        text-align: center;
        font-family: "Open Sans", sans-serif;
    }

    img {
        display: inline-block;
        margin: 40px;
    }

    .content-container {
        padding: 20px;
        background: rgba($color: white, $alpha: 0.9);
        border-radius: 20px;
    }
}

